
h1{
  text-decoration: underline;
}

.img-thumbnail  {
  display: block;
  background: #FFFFFF;
  width: 250px;
  height: 320px;
  border-radius: 2px;
  margin: 10px;
  display: inline-block;
  align: center;
  transition: all .25s linear;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.4);
}

.img-thumbnail:hover{
  box-shadow: -1px 1px 15px 0px rgba(0,0,0,1.5);
}

.caption {
position: absolute;
top: 10;
left: 0;
height: 100%;
width: 100%;
padding: 0 10px;
box-sizing: border-box;
pointer-events: none;
}

.button {
  border-radius: 15px;
  background-color: black;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  top:40%;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}


.caption span {
 display: inline-table;
 padding: 5;
 color: #fff;
 background: rgba(0, 0, 0, 0.15);
 font-family: 'Myriad Pro regular';
 font-size: 15.31px;
}
.image_grid {
 display: inline-table;
 padding-left: 25px;
}
.image_grid label {
 position: relative;
 display: inline-block;

}
.image_grid img {
 display: block;
 padding: 2.5px;
 padding-right: 5px;
 background: transparent;
}


.image_grid input {
 display: none;
}

.image_grid input:checked + .caption {
 background: rgba(0,0,0,0.15);
 width: 275px;
 height: 330px;
}

.image_grid input:checked + .caption::after {
 content: '✔';
 position: absolute;
 top: 50%; left: 50%;
 width: 70px; height: 70px;
 transform: translate(-50%,-50%);
 color: gold;
 font-size: 60px;
 line-height: 80px;
 text-align: center;
 border: 2px solid black;
 border-radius: 100%;
}
