<!DOCTYPE html>
<html lang="en">
  <head>
    <title>NewsPortal</title>
    {% load staticfiles %}

      <script src="{% static 'js/jquery.min.js' %}"></script>
      <script src="{% static 'js/jquery-migrate-3.0.1.min.js' %}"></script>
      <script src="{% static 'js/popper.min.js' %}"></script>
      <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
      <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
      <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
      <script src="{% static 'js/owl.carousel.min.js' %}"></script>
      <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
      <script src="{% static 'js/aos.js' %}"></script>
      <script src="{% static 'js/jquery.animateNumber.min.js' %}"></script>
      <script src="{% static 'js/scrollax.min.js' %}"></script>
      <script src="{% static 'js/main.js' %}"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap" rel="stylesheet">-->

    <!--<link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">-->
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">

    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <!--<link rel="stylesheet" href="css/magnific-popup.css">-->

    <!--<link rel="stylesheet" href="css/aos.css">-->

    <link rel="stylesheet" href="{% static 'css/ionicons.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
	  <div class="bg-top navbar-light d-flex flex-column-reverse">
    	<div class="container py-3">
    		<div class="row no-gutters d-flex align-items-center align-items-stretch">
    			<div class="col-md-4 d-flex align-items-center py-4">
    				<a class="navbar-brand" href="index.html">NewsPortal <span>Online News Agency</span></a>
    			</div>
	    		<div class="col-lg-8 d-block">
		    		<div class="row d-flex">
					    <div class="col-md d-flex topper align-items-center align-items-stretch py-md-4">
					    	<div class="icon d-flex justify-content-center align-items-center"><span class="ion-ios-paper-plane"></span></div>
					    	<div class="text">
					    		<span>Email</span>
						    	<span>supportnewsportal@gmail.com</span>
						    </div>
					    </div>
					    <div class="col-md d-flex topper align-items-center align-items-stretch py-md-4">
					    	<div class="icon d-flex justify-content-center align-items-center"><span class="ion-ios-call"></span></div>
						    <div class="text">
						    	<span>Call</span>
						    	<span>+91 9234567890</span>
						    </div>
					    </div>
					    <div class="col-md d-flex topper align-items-center align-items-stretch py-md-4">
					    	<div class="icon d-flex justify-content-center align-items-center"><span class="ion-ios-time"></span></div>
						    <div class="text">
						    	<span>HelpLine Hours</span>
						    	<span>Mon - Sat 8am - 5pm</span>
						    </div>
					    </div>
				    </div>
			    </div>
		    </div>
		  </div>
		  <div class="top-social-menu py-2 bg-light">
		  	<div class="container">
		  		<div class="row">
			    	<div class="col">
			    		<p class="social mb-0">
			    			<a href="#"><i class="ion-logo-facebook"></i><span class="sr-only">Facebook</span></a>
			    			<a href="#"><i class="ion-logo-twitter"></i><span class="sr-only">Twitter</span></a>
			    			<a href="#"><i class="ion-logo-googleplus"></i><span class="sr-only">Googleplus</span></a>
			    		</p>
			    	</div>
			    	<div class="col text-right">
			    		<a href="#" class="btn-link">Get Latest News</a>
			    	</div>
			    </div>
		  	</div>
		  </div>
    </div>
    <section class="home-slider owl-carousel">
      <div class="slider-item" style="background-image:url(/media/bg_2.jpg);">
      	<div class="overlay"></div>
        <div class="container">
          <div class="row no-gutters slider-text align-items-center justify-content-start" data-scrollax-parent="true">
          <div class="col-md-7 ftco-animate mb-md-5">
          	<span class="subheading">NewsPortal</span>
            <h1 class="mb-4">Newspapers cannot be defined by the second word—paper.</h1>
          </div>
        </div>
        </div>
      </div>
    </section>

		<section class="ftco-section ftco-no-pt ftco-no-pb ftco-consult">
			<div class="container">
				<div class="row d-flex no-gutters align-items-stretch	consult-wrap">
					<div class="col-md-5 wrap-about align-items-stretch d-flex">
						<div class="ftco-animate bg-primary align-self-stretch px-4 py-5 w-100">
							<h2 class="heading-white mb-4">Register for Free!</h2>
							<form action="#" class="appointment-form ftco-animate">
		    				<div class="form-group">
		    					<input type="text" class="form-control" placeholder="First Name">
		    				</div>
		    				<div class="form-group">
		    					<input type="text" class="form-control" placeholder="Last Name">
		    				</div>
	    					<div class="form-group">
		    					<div class="form-field">
	        					<div class="select-wrap">
	                    <div class="icon"><span class="ion-ios-arrow-down"></span></div>
	                  </div>
		              </div>
		    				</div>
	    					<div class="form-group">
		    					<input type="text" class="form-control" placeholder="Phone">
		    				</div>
		    				<div class="form-group">
		    					<input type="password" class="form-control" name = "password" placeholder="Password"><br><br>
		    				</div>
	    					<div class="form-group">
		            </div>
		            <div class="form-group">
		              <input type="submit" value="Register" class="btn btn-secondary py-3 px-4">
		            </div>
		    			</form>
						</div>
					</div>
					<div class="col-md-7 wrap-about ftco-animate align-items-stretch d-flex">
						<div class="bg-white p-5">
							<h2 class="mb-4">NewPortal <br>An Online News Agency</h2>
							<div class="row">
								<div class="col-lg-6">
									<div class="services">
										<div class="icon mt-2 d-flex align-items-center"><span class="flaticon-collaboration"></span></div>
										<div class="text media-body">
											<h3>Top Rated News</h3>
											<p>Get up to date with correct news from different types of categories.</p>
										</div>
									</div>
									<div class="services">
										<div class="icon mt-2"><span class="flaticon-analysis"></span></div>
										<div class="text media-body">
											<h3>General Knowledge</h3>
											<p>Increase your GK by subscribing to the Daily News Updates</p>
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="services">
										<div class="icon mt-2"><span class="flaticon-search-engine"></span></div>
										<div class="text media-body">
											<h3>Business and Finance</h3>
											<p>Get up to date with the stock market and share prices</p>
										</div>
									</div>
									<div class="services">
										<div class="icon mt-2"><span class="flaticon-handshake"></span></div>
										<div class="text media-body">
											<h3>Spread the Truth</h3>
											<p>With the High Quality news being provided spread correct news to others</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>


		<section class="ftco-section">
			<div class="container">
				<div class="row no-gutters justify-content-center mb-5">
          <div class="col-md-6 text-center heading-section ftco-animate">
          	<span class="subheading">List of coverages</span>
            <h2 class="mb-4">Categories</h2>
            <p>VBelow are the list of news coverages in each category</p>
            <p></p>
          </div>
        </div>
        <div class="row">
        	<div class="col-md-4">
        		<div class="project">
        			<div class="img rounded mb-4" style="background-image: url(/media/entertaiment.jpg);"></div>
        			<div class="text w-100 text-center">
        				<span class="cat">Entertainment</span>
        				<h3><a href="#">Cine, Drama and much more</a></h3>
        				<p>What is Life without entertainment</p>
        			</div>
        		</div>
        	</div>
        	<div class="col-md-4">
        		<div class="project">
        			<div class="img rounded mb-4" style="background-image: url(/media/technology.jpg);"></div>
        			<div class="text w-100 text-center">
        				<span class="cat">Technology</span>
        				<h3><a href="#">Latest Gadgets and Gizmos</a></h3>
        				<p>Get updates of the specs of the recently released gadgets and gizmos</p>
        			</div>
        		</div>
        	</div>
        	<div class="col-md-4">
        		<div class="project">
        			<div class="img rounded mb-4" style="background-image: url(/media/business.jpg);"></div>
        			<div class="text w-100 text-center">
        				<span class="cat">Business</span>
        				<h3><a href="#">Business and Financing</a></h3>
        				<p>Get latest updates on the stock market and share pricese</p>
        			</div>
        		</div>
        	</div>
        	<div class="col-md-4">
        		<div class="project">
        			<div class="img rounded mb-4" style="background-image: url(/media/sports.png);"></div>
        			<div class="text w-100 text-center">
        				<span class="cat">Sports</span>
        				<h3><a href="#">Cricket, Football and many more</a></h3>
        				<p>Get latest score updates of your favorite team in any sport</p>
        			</div>
        		</div>
        	</div>
        	<div class="col-md-4">
        		<div class="project">
        			<div class="img rounded mb-4" style="background-image: url(/media/international.png);"></div>
        			<div class="text w-100 text-center">
        				<span class="cat">International</span>
        				<h3><a href="#">International Updates</a></h3>
        				<p>Follow the latest happenings in all the countries</p>
        			</div>
        		</div>
        	</div>
        	<div class="col-md-4">
        		<div class="project">
        			<div class="img rounded mb-4" style="background-image: url(/media/science.jpg);"></div>
        			<div class="text w-100 text-center">
        				<span class="cat">Science</span>
        				<h3><a href="#">Science</a></h3>
        				<p>Get updated with latest discoveries and findings in Science</p>
        			</div>
        		</div>
        	</div>
        </div>
			</div>
		</section>



    <section class="ftco-intro ftco-no-pb img" style="background-image: url(/media/bg_1.jpg);">
    	<div class="container">
    		<div class="row justify-content-center">
          <div class="col-lg-9 col-md-8 d-flex align-items-center heading-section heading-section-white ftco-animate">
            <h2 class="mb-3 mb-md-0">You Always Get the Top Rated News in a jiffy.</h2>
          </div>
          <div class="col-lg-3 col-md-4 ftco-animate">
          	<p class="mb-0"><a href="#" class="btn btn-secondary py-3 px-4">Register Now!</a></p>
          </div>
        </div>
    	</div>
    </section>

    <hr>



    <footer class="ftco-footer ftco-bg-dark ftco-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-6 col-lg-3">
            <div class="ftco-footer-widget mb-5">
            	<h2 class="ftco-heading-2">Have Questions?</h2>
            	<div class="block-23 mb-3">
	              <ul>
	                <li><span class="icon icon-map-marker"></span><span class="text">AB5, Manipal Institute of Technology, Manipal</span></li>
	                <li><a href="#"><span class="icon icon-phone"></span><span class="text">+91 9234567890</span></a></li>
	                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">supportnewsportal@gmail.com</span></a></li>
	              </ul>
	            </div>
	            <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-6 col-lg-2">
            <div class="ftco-footer-widget mb-5 ml-md-4">
              <h2 class="ftco-heading-2">Links</h2>
              <ul class="list-unstyled">
                <li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>Home</a></li>
                <li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>About</a></li>
                <li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>Contact</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="ftco-footer-widget mb-5">
            	<h2 class="ftco-heading-2">Subscribe Us!</h2>
              <form action="#" class="subscribe-form">
                <div class="form-group">
                  <input type="text" class="form-control mb-2 text-center" placeholder="Enter email address">
                  <input type="submit" value="Subscribe" class="form-control submit px-3">
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
		</div>
        </div>
      </div>
    </footer>
  </body>
</html>
